
.product-form {
  display: flex;
  flex-direction: column;
  padding: 35px 50px;
  margin: 0 75px;
  background-color: var(--rosa);
  border-radius: 30px;
}

.title-product {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
  padding: 15px;
  font-family: var(--newsreader);
  font-weight: 400;
  font-size: 46px;
}

.product-form label {
  font-family: var(--inter); 
}

.btn-product {
  width: 170px;
  height: 45px;
  border-radius: 8px;
  border: none;
  background-color:var(--verde);
  margin: 30px 0;
  color: var(--blanco);
  align-self: center;  
}


/* Oculta el contenedor de vista previa */
.hidden {
  display: none;
}

/* Estilo de la imagen en la vista previa */
#image-preview {
  max-width: 200px;
}

/* Botón para eliminar la imagen */
.remove-btn {
  display: block;
  margin-top: 10px;
  background-color: var(--verde);
  color: var(--blanco);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #c0392b;
}

@media (min-width: 768px){
  
  main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .product-form {
    padding: 25px 100px ;
    margin: 0 150px;
    max-width: 50%;
    }
  

}